.help {
  float: right;
  line-height: 28px;
  margin-right: 40px;
  color: white;
  font-size: 15px;
  z-index: 6;
  position: relative;
}

.help:hover {
    color: grey;
    text-decoration: none;
}