div img {
    max-width: 100%;
}

.display {
    display: flex;
}

.editor {
    width: 100%;
}

.leftPanel img{
    margin-top: -24px;
}

.leftPanel {
    flex: 6;
    display: flex;
    align-items: center;
}

.rightPanel {
    flex: 7;
}